.no-decoration {
    text-decoration: none;
}

.description-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.description-normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
